# Central PostgreSQL Connection Settings
# Can be supplied as a single direct connection string:
DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres

# Or as individual database connection options:
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
